html,body{
    margin: 0;
	padding: 0;
	overflow: auto;
    background-color: grey;
}
.carousel-item img{
    margin-top: 45px;
    height: 500px;
    width: 100%;
}
.navFix {
	position:fixed;
	top:0;
	background:transparent;
	width:100%;
	height:50px;
} 
.navFix{
    border: 3px solid black;
    background-color: white !important;
    height: auto;
} 
.navbar-hamburger {
	font-size:25px;
	font-weight:600;
	color: orangered;
	text-transform:uppercase;
	padding-left:10px;
}
.navbar-hamburger:hover{
	text-decoration:none;
	color:orangered;
}
.mnsl{
    margin: 0%;
    padding: 0%;
    width: 300px;
}
.link{
	color: rgb(39, 38, 38);
	font-size: 18px;
	line-height: 2.278;
    font-weight: bold;
    margin: 0px 20px;
    padding: 3px;
}
.link:hover {
    padding: 6px;
	color:orangered;
    text-decoration: none;
    text-shadow: 1px white;
}

.header-h1 {
    color: white;
    text-shadow:4px -1px black;
    text-align: center;
    justify-content: center;
    margin: 300px 0;
    text-transform: uppercase;
    font-size: 66px;
    font-weight: 600;
}
.slika{
    margin: 0% 25%;
}
.slika img{
    margin: auto;
    padding: 5px;
    width: 500px;

    
    display: flex;
    align-items: center;
    justify-content: center;
}
.cr{
    color: orangered;
}
.container{
    padding: 10px;
    margin:auto;
}
.nas{
    width: 100%;
    background-color: white;
    color: orangered;
    text-align: center;
    font-weight: bold;
}
.dug{
    padding: 5px;
    border: 1px solid orangered;
    background-color: orangered;
    text-align: center;
    align-items: center;
}
.dug p{
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}
.dug a{
    padding: 5px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    border: 2px solid grey;
    border-radius: 10%;
    background-color: grey;
}
.dug a:hover{
    padding: 10px;
    background-color: white;
    color: orangered;
    border: 2px solid white;
    border-radius: 10%;
}
.ft{
    width: 100%;
    background-color: white;
    color: orangered;
    text-align: center;
}
.logi{
    margin: 10px;
    width: 50px;
}
.tek{
    background-color: white;
    margin-top: 45px;
    margin-right: 20%;
    margin-left: 20%;
    border: 2px solid white;
    border-radius: 10%;
}
.tek:hover{
    border-radius: 0%;
    transition: 0.9s ease;
    transform: rotate(360deg);
}
.nass{
    text-align: center;
    color: orangered;
}
.tek p{
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    font-family: Comic Sans MS;
    font-size: 20px;
}
.trener{
    background-color: white;
    margin-top: 45px;
    margin-left:10%;
    margin-right: 10%;
    border: 2px solid white;
}
.dugg{
    text-align: center;
}
.dugg a{
    text-align: center;
    padding: 5px;
    font-size: 20px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.699);
    border: 2px solid grey;
    border-radius: 10%;
    background-color: orangered;
}
.dugg a:hover{
    background-color: white;
    color: orangered;
}
.dugg input{
    text-align: center;
    padding: 5px;
    font-size: 20px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.699);
    border: 2px solid grey;
    border-radius: 10%;
    background-color: orangered;
}
.dugg input:hover{
    background-color: white;
    color: orangered;
}
form{
    background-color: orangered;
    margin-top: 70px;
    font-size: 25px;
    text-align: center;
    margin-left:25%;
    margin-right: 25%;
    color: white;
}
input{
    
    margin: 10px;
}
footer{
    width: 100%;
    bottom: 0px;
    position: absolute;
}
.ftt{
    width: 100%;
    background-color: white;
    color: orangered;
    text-align: center;
    bottom: 0px;
    position: absolute;
}
#polje, #polje1, #polje2, #polje3{
    background-color: white;
    margin-left:10%;
    margin-right: 10%;
    border: 2px solid white;
}
.trener a{
    font-weight: bold;
    text-decoration: none;
    color: orangered;
}
#polja, #polja1, #polja2{
    background-color: white;
    margin-left:10%;
    margin-right: 10%;
    border: 2px solid white;
}